# Week9 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1) i.e: 2018 => 2018-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

In [28]:
import pandas as pd
import re

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS601_Fall21/main/Week09/data/hw_data.csv', index_col=0)

In [30]:
df.head(20)

,email,notes
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923
5,cooperjason@hotmail.com,st Dt 2001-04 ENDT 2013-04 p# 8400434845
6,kristywise@gmail.com,pn: 120-577-2777-start dt June 1980-ENDT 2017-01
7,scottstacie@romero-obrien.org,p/n 773.229.8494/st dt 1998-06/end Dt 03/21
8,careyrobert@horn-spencer.com,start dt 1986/ENDT 03/18/2014
9,mcole@riley-ho.biz,STDT 08/89 ed date:March 2019 p# 3855702012
10,william62@gmail.com,pn: 833-500-1622x21862 st dt:10/08/1973 ed dat...
11,william30@yahoo.com,st Dt 1991-08-ed date:2021-08-14
12,anthony62@yahoo.com,STDT 05/29/1979-end dt 2021-11-01
13,mccannrichard@hotmail.com,start date 1975-en dt:12/20/2012
14,dustin17@jones.org,st Dt 07/11/1989-end date 10/12-pn: +1-926-71...
15,garynewman@yahoo.com,st dt:August 2000 en dt:2010-12
16,charles83@miller.com,STDT 09/16/2007-ENDT 2018-07-pn: +1-472-406-85...
17,donnaedwards@hernandez-holt.com,start dt 05/15/2006 end dt 2014-05-24 pn: (08...
18,alvarezanthony@franklin.info,start dt 05/08/end date 2010-09-11
19,sharris@gmail.com,start date 11/99-en dt:2021-07

In [31]:
### creating a phone number column 

pattern = re.compile(r'(\d{3})?((\(\d{3}\))|(\d{3})(\s|-?|.?))(\d{3}(\s|-?|.?))(\d{4})(\s?(([E|e]xt[:|.|]?))(\s?\d+))?')

In [33]:
df['Phone_no']= [pattern.search(s).group() if pattern.search(str(s)) != None else None  for s in df['notes'] ]

In [34]:
df['Phone_no'] =  df['Phone_no'].str.replace(r'\D', '-')

C:\Users\srash\AppData\Local\Temp/ipykernel_18456/1957848271.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Phone_no'] =  df['Phone_no'].str.replace(r'\D', '-')

In [35]:
pattern = re.compile(r'(end|ed|en\sdt)\D*\d{1,4}(\D)?\d{1,4}(\D)?\d{1,4}',re.I)

In [36]:
df['End_dte']= [pattern.search(s).group() if pattern.search(str(s)) != None else None  for s in df['notes'] ]

In [37]:
pattern = re.compile(r'((start|st\sdt|st\sdate|st\sDt|STDT)\D*\d{1,4}(\D)?\d{1,4}(\D)?\d{1,4})',re.I)

In [38]:
df['Start_dte']= [pattern.search(s).group() if pattern.search(str(s)) != None else None  for s in df['notes'] ]

In [39]:
df['Start_dte']= [pattern.search(s).group() if pattern.search(str(s)) != None else None  for s in df['notes'] ]

In [40]:
df['Start_dte'] = df['Start_dte'].str.replace(r'(start|st\sdt|st\sdate|st\sDt|STDT)\D*', '')

C:\Users\srash\AppData\Local\Temp/ipykernel_18456/2178534483.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Start_dte'] = df['Start_dte'].str.replace(r'(start|st\sdt|st\sdate|st\sDt|STDT)\D*', '')

In [41]:
df['End_dte'] =  df['End_dte'].str.replace(r'(end|ed|en\sdt|ENDT)\D*', '')

C:\Users\srash\AppData\Local\Temp/ipykernel_18456/1221547704.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['End_dte'] =  df['End_dte'].str.replace(r'(end|ed|en\sdt|ENDT)\D*', '')

In [42]:
df.head()

,email,notes,Phone_no,End_dte,Start_dte
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,None,10/27/2011,2005
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...,186-444-5580,06/17/2013,1974-05-21
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,None,2021-03-21,01/14/1985
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,None,01/20/2012,1973
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,929-878-4923,04/10,09/28/2002

In [43]:
df['Start_dte'] =pd.to_datetime(df['Start_dte'],errors='coerce').dt.date

In [44]:
df['End_dte'] =pd.to_datetime(df['End_dte'],errors='coerce').dt.date

In [45]:
df

,email,notes,Phone_no,End_dte,Start_dte
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,None,2011-10-27,2005-01-01
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...,186-444-5580,2013-06-17,1974-05-21
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,None,2021-03-21,1985-01-14
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,None,2012-01-20,1973-01-01
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,929-878-4923,NaT,2002-09-28
...,...,...,...,...,...
1995,linblake@hotmail.com,st dt;1988-03-28 end date 04/10 pn: 866.901.29...,866-901-2951,NaT,1988-03-28
1996,xgriffin@gmail.com,P# 9478756534 st Dt 01/97 end Dt 05/11,9478756534,NaT,1997-01-01
1997,alexanderrodriguez@smith.com,st dt;05/92/end date 01/05/2020/p# 176-995-64...,176-995-6456,2020-01-05,1992-05-01
1998,wwilliams@yahoo.com,p# +1-471-226-4876x03993-start date 07/91-en ...,471-226-4876,NaT,1991-07-01
1999,brent46@gmail.com,st dt 04/99-en dt:11/03/2011-pn: 729.161.3762,729-161-3762,2011-11-03,1999-04-01

In [46]:
pattern = re.compile(r'(\b^[0-9]{2}(\/)[0-9]{2})$\b')

In [47]:
df['Start_dte']=[pd.to_datetime(s,format='%m/%y').date() if pattern.search(str(s)) != None else pd.to_datetime(s,errors='coerce').date() for s in df['Start_dte']]

In [48]:
df['End_dte']=[pd.to_datetime(s,format='%m/%y').date() if pattern.search(str(s)) != None else pd.to_datetime(s,errors='coerce').date() for s in df['End_dte']]

In [49]:
df.head(20)

,email,notes,Phone_no,End_dte,Start_dte
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,None,2011-10-27,2005-01-01
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...,186-444-5580,2013-06-17,1974-05-21
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,None,2021-03-21,1985-01-14
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,None,2012-01-20,1973-01-01
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,929-878-4923,NaT,2002-09-28
5,cooperjason@hotmail.com,st Dt 2001-04 ENDT 2013-04 p# 8400434845,8400434845,2013-04-01,2001-04-01
6,kristywise@gmail.com,pn: 120-577-2777-start dt June 1980-ENDT 2017-01,120-577-2777,2017-01-01,1980-01-01
7,scottstacie@romero-obrien.org,p/n 773.229.8494/st dt 1998-06/end Dt 03/21,773-229-8494,NaT,1998-06-01
8,careyrobert@horn-spencer.com,start dt 1986/ENDT 03/18/2014,None,2014-03-18,1986-01-01
9,mcole@riley-ho.biz,STDT 08/89 ed date:March 2019 p# 3855702012,3855702012,2019-01-01,1989-08-01
10,william62@gmail.com,pn: 833-500-1622x21862 st dt:10/08/1973 ed dat...,833-500-1622,NaT,1973-10-08
11,william30@yahoo.com,st Dt 1991-08-ed date:2021-08-14,None,2021-08-14,1991-08-01
12,anthony62@yahoo.com,STDT 05/29/1979-end dt 2021-11-01,None,2021-11-01,1979-05-29
13,mccannrichard@hotmail.com,start date 1975-en dt:12/20/2012,None,2012-12-20,1975-01-01
14,dustin17@jones.org,st Dt 07/11/1989-end date 10/12-pn: +1-926-71...,926-717-3290,NaT,1989-07-11
15,garynewman@yahoo.com,st dt:August 2000 en dt:2010-12,None,2010-12-01,2000-01-01
16,charles83@miller.com,STDT 09/16/2007-ENDT 2018-07-pn: +1-472-406-85...,472-406-8509,2018-07-01,2007-09-16
17,donnaedwards@hernandez-holt.com,start dt 05/15/2006 end dt 2014-05-24 pn: (08...,-089-080-9619,2014-05-24,2006-05-15
18,alvarezanthony@franklin.info,start dt 05/08/end date 2010-09-11,None,2010-09-11,NaT
19,sharris@gmail.com,start date 11/99-en dt:2021-07,None,2021-07-01,1999-11-01

In [50]:
df['duration']=df['End_dte']-df['Start_dte']

In [51]:
df.head(20)

,email,notes,Phone_no,End_dte,Start_dte,duration
0,fosterjennifer@gmail.com,st Dt February 2005 ed dt;10/27/2011,None,2011-10-27,2005-01-01,2490 days
1,vanessastephens@gmail.com,st date:1974-05-21 end date 06/17/2013 pn: 00...,186-444-5580,2013-06-17,1974-05-21,14272 days
2,vsmith@yahoo.com,start dt 01/14/1985-ed date:2021-03-21,None,2021-03-21,1985-01-14,13215 days
3,tammymorgan@gmail.com,STDT July 1973-end dt 01/20/2012,None,2012-01-20,1973-01-01,14263 days
4,kimberlylyons@mason-solis.biz,st date:09/28/2002-ENDT 04/10-p/n 929-878-4923,929-878-4923,NaT,2002-09-28,NaT
5,cooperjason@hotmail.com,st Dt 2001-04 ENDT 2013-04 p# 8400434845,8400434845,2013-04-01,2001-04-01,4383 days
6,kristywise@gmail.com,pn: 120-577-2777-start dt June 1980-ENDT 2017-01,120-577-2777,2017-01-01,1980-01-01,13515 days
7,scottstacie@romero-obrien.org,p/n 773.229.8494/st dt 1998-06/end Dt 03/21,773-229-8494,NaT,1998-06-01,NaT
8,careyrobert@horn-spencer.com,start dt 1986/ENDT 03/18/2014,None,2014-03-18,1986-01-01,10303 days
9,mcole@riley-ho.biz,STDT 08/89 ed date:March 2019 p# 3855702012,3855702012,2019-01-01,1989-08-01,10745 days
10,william62@gmail.com,pn: 833-500-1622x21862 st dt:10/08/1973 ed dat...,833-500-1622,NaT,1973-10-08,NaT
11,william30@yahoo.com,st Dt 1991-08-ed date:2021-08-14,None,2021-08-14,1991-08-01,10971 days
12,anthony62@yahoo.com,STDT 05/29/1979-end dt 2021-11-01,None,2021-11-01,1979-05-29,15497 days
13,mccannrichard@hotmail.com,start date 1975-en dt:12/20/2012,None,2012-12-20,1975-01-01,13868 days
14,dustin17@jones.org,st Dt 07/11/1989-end date 10/12-pn: +1-926-71...,926-717-3290,NaT,1989-07-11,NaT
15,garynewman@yahoo.com,st dt:August 2000 en dt:2010-12,None,2010-12-01,2000-01-01,3987 days
16,charles83@miller.com,STDT 09/16/2007-ENDT 2018-07-pn: +1-472-406-85...,472-406-8509,2018-07-01,2007-09-16,3941 days
17,donnaedwards@hernandez-holt.com,start dt 05/15/2006 end dt 2014-05-24 pn: (08...,-089-080-9619,2014-05-24,2006-05-15,2931 days
18,alvarezanthony@franklin.info,start dt 05/08/end date 2010-09-11,None,2010-09-11,NaT,NaT
19,sharris@gmail.com,start date 11/99-en dt:2021-07,None,2021-07-01,1999-11-01,7913 days

In [52]:
df['duration'].dtypes

dtype('<m8[ns]')